
/*
	1. Google Fonts Import
*/
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400';
@import 'https://fonts.googleapis.com/css?family=Lora:400,400italic';
@import 'https://fonts.googleapis.com/css?family=Pacifico:300,400';

/* index.html */

.name {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

a:hover {
  color: #EABFB9;
}
