
/*
	1. Google Fonts Import
*/
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400';
@import 'https://fonts.googleapis.com/css?family=Lora:400,400italic';
@import 'https://fonts.googleapis.com/css?family=Pacifico:300,400';


.square {
  width: 25vw;
  height: 25vw;
  object-fit: cover;
  margin-left: 6%;

}

.column {
  float: left;
  width: 33.33%;
  padding: 2%;
}

.name {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.description {
  color: #636363;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  font-size: 110%;
}

.subtitle {
  color: #EABFB9;
  text-align: center;
  margin-top: 2%;
}
