/*
	Google Fonts Import
*/
@import 'https://fonts.googleapis.com/css?family=Sacramento';
@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700,900';

* {
  font-family: Lato;
  color: #232323;
}

.title_text, .bio_heading, .content_title {
  font-weight: 700;
}

.content_title {
  margin-top: 2%;
  color: #3A3A3A;
}

.content_subheading {
  color: #4B4B4B;
  margin-top: 0.5%;
}

.bio_links {
  color: #3A3A3A;
  text-decoration: none;
  font-weight: 700;
}

.bio_links:hover {
 text-decoration: none;
 color:#3E7A96;
}

.bio_heading {
  font-size: 30px;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

.column_work, .column_design, .column_hobbies, .column_projects {
  /* float: left; */
  width: 25%;
  /* display: none; /* Hide columns by default */ */
}

.links, .links:hover, .title_links:hover {
  color:#3E7A96;
  font-weight: 700;
  text-decoration: none;
}

.title_links {
  color: #4B4B4B;
  font-weight: 700;
}
