
/*
	1. Google Fonts Import
*/
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400';
@import 'https://fonts.googleapis.com/css?family=Lora:400,400italic';
@import 'https://fonts.googleapis.com/css?family=Pacifico:300,400';

/* index.html */

* {
  color: #494848;
  font-family: 'Questrial', sans-serif;
}

/* p {
  font-size: 110%;
} */

a {
  color: #EABFB9;
}

.name {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.me {
  width: 300px;
}

.club {
  color: #EABFB9;
  text-decoration: underline;
}

.bio {
  color: #636363;
  width: 75%;
  margin-left: 15%;
}

.link {
  color: #EABFB9;
  margin-right: 5%;
  text-decoration: underline;
}

.column1-index {
  float: left;
  width: 25%;
  padding: 5%;
}

.column1-1-index {
  float: left;
  width: 70%;
  padding: 3.5%;
}


.work-heading {
  margin-left: 5%;
  color: #494848;
}

.column2-index {
  float: left;
  width: 33.33%;
  padding: 5%;
}

.amazon, .workday, .kiwi {
  width: 80%;
  /* width: 25vw;
  height: 15vw; */
  object-fit: cover;

}

/* .amazon {
  margin-left: 20%;
}

.kiwi {
  margin-right: 30%;
} */

.projects-heading {
  margin-left: 5%;
  color: #494848;
}

.column3-index {
  float: left;
  width: 33.33%;
  padding: 5%;
}

.swe, .girls_who_code, .ace-coding {
  width: 80%;
  width: 25vw;
  height: 15vw;
  object-fit: cover;
}

.design-heading, .hobbies-heading {
  margin-left: 5%;
  color: #494848;
}

.column4-index {
  float: left;
  width: 33.33%;
  padding: 5%;
}

.one-hundred-days {
  margin-left: 20%;
}

.subtitle {
  color: #EABFB9;
  text-align: center;
  margin-top: 2%;
}

.one-hundred-days, .forum, .lettering {
  width: 80%;
  width: 25vw;
  height: 15vw;
  object-fit: cover;
}

.hobbies-heading {
  margin-left: 5%;
  color: #494848;
}
